html, body {
    margin: 0;
    padding: 0;
}

.results {
    border-width: 0px;
    border-color: #dedede;
    border-style: solid;
}

.results .pull-request.result {
    padding: 10px 15px;
    border-width: 1px 0px 0px 0px;
    border-style: inherit;
    border-color: inherit;
}

.result .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}